* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f8f7ff;
  color: #1f2937;
}

.navbar {
  height: 75px;
  padding: 0 8%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.navbar h2 {
  color: #4f2bbd;
}

.navbar h2 span {
  color: #1f2937;
}

.navbar nav {
  display: flex;
  gap: 22px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #4b5563;
  font-size: 14px;
}

button {
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.login-btn,
.secondary-btn {
  background: white;
  color: #5b34c4;
  border: 1px solid #cfc5ee;
  border-radius: 7px;
  padding: 11px 18px;
}

.register-btn,
.primary-btn {
  background: #5b34c4;
  color: white;
  border-radius: 7px;
  padding: 12px 20px;
}

.hero {
  min-height: calc(100vh - 75px);
  padding: 100px 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  background: linear-gradient(135deg, #faf9ff, #ede9fe);
}

.hero-content {
  max-width: 600px;
}

.tagline {
  color: #6d4bd1;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero h1 {
  margin: 18px 0;
  font-size: 55px;
  line-height: 1.15;
}

.hero h1 span {
  color: #5b34c4;
}

.description {
  color: #64748b;
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.hero-card {
  width: 290px;
  padding: 30px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(91, 52, 196, 0.15);
}

.hero-card p {
  color: #6d4bd1;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-card h3 {
  margin-top: 25px;
  font-size: 16px;
}

.hero-card h2 {
  margin: 10px 0;
  font-size: 48px;
  color: #4f2bbd;
}

.hero-card span {
  color: #16a36f;
  font-size: 14px;
}